Repository dnglab/dnglab, pull requests merged in 2024-06, with the labels that each got.

#454 Support for Panasonic DC-G9 II
  rawler/data/cameras/panasonic/g9mk2.toml
  rawler/data/testdata/cameras/Panasonic/DC-G9M2/raw_modes/DC-G9M2_ISO_100_8fmt_11552x8672.RW2.analyze.yaml
  rawler/data/testdata/cameras/Panasonic/DC-G9M2/raw_modes/DC-G9M2_ISO_100_8fmt_11552x8672.RW2.digest.txt
  rawler/data/testdata/cameras/Panasonic/DC-G9M2/raw_modes/DC-G9M2_ISO_100_8fmt_5776x4336.RW2.analyze.yaml
  rawler/data/testdata/cameras/Panasonic/DC-G9M2/raw_modes/DC-G9M2_ISO_100_8fmt_5776x4336.RW2.digest.txt
  rawler/tests/cameras/mod.rs
  rawler/tests/supported_rawdb_sets.txt
Labels: rw2, camera-support

#456 Support for Canon EOS R100
  rawler/data/cameras/canon/r100.toml
  rawler/data/testdata/cameras/Canon/EOS R100/raw_modes/Canon_EOS_R100_CRAW.CR3.analyze.yaml
  rawler/data/testdata/cameras/Canon/EOS R100/raw_modes/Canon_EOS_R100_CRAW.CR3.digest.txt
  rawler/data/testdata/cameras/Canon/EOS R100/raw_modes/Canon_EOS_R100_RAW.CR3.analyze.yaml
  rawler/data/testdata/cameras/Canon/EOS R100/raw_modes/Canon_EOS_R100_RAW.CR3.digest.txt
  rawler/tests/cameras/mod.rs
  rawler/tests/supported_rawdb_sets.txt
Labels: cr3, camera-support

#451 Publish MacOS arm64 binaries
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: enhancement

#457 Support for Fujifilm X-T50
  rawler/data/cameras/fuji/x-t50.toml
  rawler/data/testdata/cameras/Fujifilm/X-T50/raw_modes/XT50_14bit_lossless.RAF.analyze.yaml
  rawler/data/testdata/cameras/Fujifilm/X-T50/raw_modes/XT50_14bit_lossless.RAF.digest.txt
  rawler/data/testdata/cameras/Fujifilm/X-T50/raw_modes/XT50_14bit_lossy.RAF.analyze.yaml
  rawler/data/testdata/cameras/Fujifilm/X-T50/raw_modes/XT50_14bit_lossy.RAF.digest.txt
  rawler/data/testdata/cameras/Fujifilm/X-T50/raw_modes/XT50_14bit_uncompressed.RAF.analyze.yaml
  rawler/data/testdata/cameras/Fujifilm/X-T50/raw_modes/XT50_14bit_uncompressed.RAF.digest.txt
  rawler/tests/cameras/mod.rs
  rawler/tests/supported_rawdb_sets.txt
Labels: raf, camera-support

#458 Fix wrong NewSubFileType and BitsPerSample
  rawler/src/decoders/dng.rs
  rawler/src/dng/writer.rs
Labels: bug, dng
