Repository dnglab/dnglab, pull requests merged in 2024-01, with the labels that each got.

#378 Sony ILCE-7CM2 camera support
  rawler/data/cameras/sony/a7cm2.toml
  rawler/data/testdata/cameras/Sony/ILCE-7CM2/raw_modes/ILCE-7CM2_ISO_100_14bits_Compressed RAW.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CM2/raw_modes/ILCE-7CM2_ISO_100_14bits_Compressed RAW.ARW.digest.txt
  rawler/data/testdata/cameras/Sony/ILCE-7CM2/raw_modes/ILCE-7CM2_ISO_100_14bits_JPEG.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CM2/raw_modes/ILCE-7CM2_ISO_100_14bits_JPEG.ARW.digest.txt
  rawler/data/testdata/cameras/Sony/ILCE-7CM2/raw_modes/ILCE-7CM2_ISO_100_14bits_Sony ARW Compressed.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CM2/raw_modes/ILCE-7CM2_ISO_100_14bits_Sony ARW Compressed.ARW.digest.txt
  rawler/data/testdata/cameras/Sony/ILCE-7CM2/raw_modes/ILCE-7CM2_ISO_100_14bits_Uncompressed RAW.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CM2/raw_modes/ILCE-7CM2_ISO_100_14bits_Uncompressed RAW.ARW.digest.txt
  rawler/data/testdata/cameras/Sony/ILCE-7CM2/raw_modes/ILCE-7CM2_ISO_100_14bits_Uncompressed.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CM2/raw_modes/ILCE-7CM2_ISO_100_14bits_Uncompressed.ARW.digest.txt
  rawler/src/decoders/arw.rs
  rawler/tests/cameras/mod.rs
  rawler/tests/supported_rawdb_sets.txt
Labels: arw, camera-support

#379 Sony ILCE-7CR support
  rawler/data/cameras/sony/a7cr.toml
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_APSC_ISO_125_14bits_Sony ARW Compressed.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_APSC_ISO_125_14bits_Sony ARW Compressed.ARW.digest.txt
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_APSC_ISO_125_14bits_Uncompressed.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_APSC_ISO_125_14bits_Uncompressed.ARW.digest.txt
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_APSC_M_ISO_125_14bits_JPEG.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_APSC_M_ISO_125_14bits_JPEG.ARW.digest.txt
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_APSC_S_ISO_125_15bits_JPEG.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_APSC_S_ISO_125_15bits_JPEG.ARW.digest.txt
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_Fullframe_ISO_125_14bits_Sony ARW Compressed.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_Fullframe_ISO_125_14bits_Sony ARW Compressed.ARW.digest.txt
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_Fullframe_ISO_125_14bits_Uncompressed.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_Fullframe_ISO_125_14bits_Uncompressed.ARW.digest.txt
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_Fullframe_L_ISO_125_14bits_JPEG.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_Fullframe_L_ISO_125_14bits_JPEG.ARW.digest.txt
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_Fullframe_M_ISO_125_15bits_JPEG.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_Fullframe_M_ISO_125_15bits_JPEG.ARW.digest.txt
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_Fullframe_S_ISO_125_15bits_JPEG.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILCE-7CR/raw_modes/ILCE-7CR_Fullframe_S_ISO_125_15bits_JPEG.ARW.digest.txt
  rawler/tests/cameras/mod.rs
  rawler/tests/supported_rawdb_sets.txt
Labels: arw, camera-support

#381 Fix: Don't create empty DNG files if conversion fails
  bin/dnglab/dnglab-lib/src/jobs/extractraw.rs
  bin/dnglab/dnglab-lib/src/jobs/raw2dng.rs
  bin/dnglab/dnglab-lib/src/makedng.rs
Labels: bug

#384 Update multiversion requirement from 0.6 to 0.7
  Cargo.lock
  rawler/Cargo.toml
  rawler/src/decoders/raf/fuji_decompressor.rs
  rawler/src/imgop/mod.rs
  rawler/src/imgop/raw.rs
  rawler/src/imgop/sensor/bayer/bilinear.rs
  rawler/src/imgop/sensor/bayer/mod.rs
  rawler/src/imgop/sensor/bayer/ppg.rs
  rawler/src/ljpeg92.rs
Labels: dependency

#383 Fix: respect case of given DNG file extension
  bin/dnglab/dnglab-lib/src/convert.rs
Labels: bug

#385 Improve superpixel and bilinear demosaic
  rawler/src/imgop/develop.rs
  rawler/src/imgop/mod.rs
  rawler/src/imgop/sensor/bayer/bilinear.rs
  rawler/src/imgop/sensor/bayer/mod.rs
  rawler/src/imgop/sensor/bayer/ppg.rs
  rawler/src/imgop/sensor/bayer/superpixel.rs
  rawler/src/pixarray.rs
Labels: enhancement

#387 OM TG-7 support
  rawler/data/cameras/omdigital/tg-7.toml
  rawler/data/testdata/cameras/OM/TG-7/raw_modes/TG-7_ISO_100_16bits.ORF.analyze.yaml
  rawler/data/testdata/cameras/OM/TG-7/raw_modes/TG-7_ISO_100_16bits.ORF.digest.txt
  rawler/tests/supported_rawdb_sets.txt
Labels: orf, camera-support

#389 Sony ILME-FX3 support
  rawler/data/cameras/sony/fx3.toml
  rawler/data/testdata/cameras/Sony/ILME-FX3/raw_modes/ILME-FX3_ISO_20000_14bits.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ILME-FX3/raw_modes/ILME-FX3_ISO_20000_14bits.ARW.digest.txt
  rawler/tests/cameras/mod.rs
  rawler/tests/supported_rawdb_sets.txt
Labels: arw, camera-support

#391 Pentax KF support
  rawler/data/cameras/pentax/kf.toml
  rawler/data/testdata/cameras/Pentax/Kf/raw_modes/PENTAX KF_ISO_200_14bits.PEF.analyze.yaml
  rawler/data/testdata/cameras/Pentax/Kf/raw_modes/PENTAX KF_ISO_200_14bits.PEF.digest.txt
  rawler/tests/cameras/mod.rs
  rawler/tests/supported_rawdb_sets.txt
Labels: pef, camera-support

#390 Sony ZV-E1 support
  rawler/data/cameras/sony/zve1.toml
  rawler/data/testdata/cameras/Sony/ZV-E1/raw_modes/ZV-E1_ISO_200_14bits.ARW.analyze.yaml
  rawler/data/testdata/cameras/Sony/ZV-E1/raw_modes/ZV-E1_ISO_200_14bits.ARW.digest.txt
  rawler/tests/cameras/mod.rs
  rawler/tests/supported_rawdb_sets.txt
Labels: arw, camera-support

#395 Canon IXY 220F support
  rawler/data/cameras/canon/ixy220f.toml
  rawler/data/testdata/cameras/Canon/IXY 220F/raw_modes/canon_ixy_220f.CRW.analyze.yaml
  rawler/data/testdata/cameras/Canon/IXY 220F/raw_modes/canon_ixy_220f.CRW.digest.txt
  rawler/tests/cameras/mod.rs
  rawler/tests/supported_rawdb_sets.txt
Labels: camera-support

#386 Handle exif error when decoding jpeg
  rawler/src/formats/jfif.rs
Labels: bug

#396 Pentax K-3 Mark III support
  rawler/data/cameras/pentax/k-3III.toml
  rawler/data/testdata/cameras/Pentax/K-3 III/raw_modes/PENTAX K-3 Mark III_ISO_800_14bits_automode.PEF.analyze.yaml
  rawler/data/testdata/cameras/Pentax/K-3 III/raw_modes/PENTAX K-3 Mark III_ISO_800_14bits_automode.PEF.digest.txt
  rawler/data/testdata/cameras/Pentax/K-3 III/raw_modes/PENTAX K-3 Mark III_ISO_800_14bits_hdr_advanced.PEF.analyze.yaml
  rawler/data/testdata/cameras/Pentax/K-3 III/raw_modes/PENTAX K-3 Mark III_ISO_800_14bits_hdr_advanced.PEF.digest.txt
  rawler/data/testdata/cameras/Pentax/K-3 III/raw_modes/PENTAX K-3 Mark III_ISO_800_14bits_pixelshift_with_motion_corr.PEF.analyze.yaml
  rawler/data/testdata/cameras/Pentax/K-3 III/raw_modes/PENTAX K-3 Mark III_ISO_800_14bits_pixelshift_with_motion_corr.PEF.digest.txt
  rawler/data/testdata/cameras/Pentax/K-3 III/raw_modes/PENTAX K-3 Mark III_ISO_800_14bits_pixelshift_without_motion_corr.PEF.analyze.yaml
  rawler/data/testdata/cameras/Pentax/K-3 III/raw_modes/PENTAX K-3 Mark III_ISO_800_14bits_pixelshift_without_motion_corr.PEF.digest.txt
  rawler/tests/cameras/mod.rs
  rawler/tests/supported_rawdb_sets.txt
Labels: pef, camera-support
